.about-content {
    background-image: url("../assets/images/about.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 1200px;
    height: 400px;
    position: relative;
}

.about-content h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 42px;
    text-align: center;
}

.about-text {
    max-width: 800px;
    margin: 40px auto;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    padding: 0 20px;
}

.about-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}







/* =========================
   ECOLOGY SECTION
========================= */

.ecology {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

/* IMAGE LEFT */
.left-picture {
    flex: 1;
}

.left-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* TEXT RIGHT */
.right-text {
    flex: 1;
    background: #697565;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-text h2 {
    font-size: 42px;
    margin-bottom: 24px;
}

.right-text p {
    font-size: 16px;
    line-height: 1.7;
    max-width: 520px;
}

/* =========================
   COMMUNITY SECTION
========================= */

.community {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

/* TEXT LEFT */
.left {
    flex: 1;
    background: #697565;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left h2 {
    font-size: 42px;
    margin-bottom: 24px;
}

.left p {
    font-size: 16px;
    line-height: 1.7;
    max-width: 520px;
}

/* IMAGE RIGHT */
.right {
    flex: 1;
}

.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* =========================
   RESPONSIVE (BOTH)
========================= */

@media (max-width: 768px) {
    .about-content h1 {
        font-size: 18px;
        width: 100%;
        padding: 0 20px;
    }


    .ecology,
    .community {
        flex-direction: column;
    }

    .right-text,
    .left {
        padding: 40px;
    }

    .right-text p,
    .left p {
        max-width: 100%;
    }
}