.footer {
    width: 100%;
    background-color: #1B1B1B;
    border-top: 1px solid #444;
}

.footer-container {
    width: 90%;
    margin: auto;
    padding: 60px 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}

/* BRAND */
.footer-brand h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
    height: 18px;

}

/* QUICK LINKS */
.footer-links h2,
.footer-payment h2 {
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    color: #ccc;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 14px;
}

.footer-links a:hover {
    color: white;
}

/* PAYMENT */
.footer-payment img {
    width: 160px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding: 20px 20px;
    }

    .footer-brand h1 {
        font-size: 38px;
    }

    .social-icons {
        justify-content: center;
    }

    .footer-links {
        gap: 15px;
        padding: 20px 20px;
    }

    .footer-links,
    .footer-payment {
        align-items: center;
    }

    .footer-links a {
        font-size: 15px;
    }

    .footer-payments img {
        width: 140px;
        margin-top: 10px;
    }

}