/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.new-look {
    background-color: #6EACDA;
}



a.nav-newlook:hover {
    color: #592C22;
}



/* GRID */
.looks-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 180px 380px;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.looks-grid>div {
    display: flex;
    flex-direction: column;
}

/* IMAGE */
.looks-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    overflow: hidden;
    border-radius: 15px;
}

/* BRAND NAME */
.brand-name {
    margin-top: 10px;
    align-self: flex-start;
    font-size: 14px;
    background: #1B1B1B;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    overflow: hidden;


}


.photo1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.photo2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.photo3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.photo4 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.photo5 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.photo6 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.photo7 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.photo1 img {
    object-position: center center;
    object-position: center 20%;
}

.photo3 img {
    object-position: top center;
}

.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 20px auto 40px auto;
}

.section-title {
    margin: 0;
}

.collection-title {
    margin: 0;
}

.newsletter {
    color: white;
    padding: 80px 40px;
    text-align: center;
}

.newsletter h2 {
    font-size: 28px;
    margin-bottom: 12px;
    letter-spacing: 0.5px;
}

.newsletter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 640px;
    margin: 0 auto;
}

.newsletter-box input {
    width: 250px;
    padding: 15px 15px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 6px;
}

.newsletter-box button {
    width: 150px;
    background-color: #1B1B1B;
    color: white;
    padding: 15px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.newsletter-box button:hover {
    opacity: 0.85;
}